// palette
// http://www.colourlovers.com/palette/77121/Good_Friends
$theme-base1: #D9CEB2;
$theme-base2: #948C75;
$theme-base3: #7A6A53;
$theme-highlight1: #D5DED9;
$theme-highlight2: #99B2B7;

// generic
$white: #fff;
$gray: #555;

$page-bg: $theme-highlight1;
$header-bg: $theme-base3;
$title-color: $white;
$subtitle-color: $theme-base1;
$nav-bg: $theme-base1;
$nav-bg-back: $nav-bg; // flat
$footer-bg: $theme-highlight2;
$footer-bg-back: $theme-highlight2; // flat
$footer-color: $gray;
